<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirschmann Automotive</title>

    <!-- Links to load de css files. -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap-clockpicker.min.css">

    <!-- Links to load the CDN's. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/06b2a1d7c4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body class="bg-light">
    <!-- Navigation section -->

    <nav class="navbar navbar-expand-lg  bg-light shadow-sm bg-white sticky-top">
        <a id="imageBrand" class="navbar-brand" href="../index.html" alt="Hirschmann Automotive Logo">
            <img src="../img/logo.svg" width="200" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link blue-dash" href="failureCatalog.html">Failure Catalog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link blue-dash" href="configuration.html" tabindex="-1"
                        aria-disabled="true">Configuration</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main content. -->
    <main>
        <div class="container">
            <div class="text-right col-12 mt-4 px-0 mx-0">
                <!-- Export buttons. -->
                <a type="button" class="btn btn-warning text-white" href="../docs/DashboardEmpty.pdf">Export PDF</a>
                <a type="button" class="btn btn-success" href="../docs/DashboardEmpty.xlsx">Export
                    Excel</a>
            </div>
            <!-- Filter Tools -->
            <div class="row mb-3 mt-4">
                <div class="col-2">
                    <h2 class="blue-dash font-weight-bold">Dashboard</h2>

                </div>


                <div class="col-10 py-1">
                    <form action="">
                        <div class="form-row">


                            <div class="col">
                                <div class="input-group input-focus">

                                    <input type="date" class="form-control border-right-0" name="startDate"
                                        id="startDate">
                                    <div class="input-group-prepend">
                                        <label for="startDate" class="input-group-text bg-white border-left-0">
                                            <i class="fas fa-calendar-alt icon"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group input-focus clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control border-right-0" value="Start hr"
                                        name="startTime" id="startTime">
                                    <div class="input-group-prepend">

                                        <label for="startTime" class="input-group-text bg-white border-left-0">
                                            <i class="fas fa-clock icon"></i>
                                        </label>

                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group input-focus">
                                    <input type="date" class="form-control border-right-0" name="endDate" id="endDate">
                                    <div class="input-group-prepend">
                                        <label for="endDate" class="input-group-text bg-white border-left-0">
                                            <i class="fas fa-calendar-alt icon"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group input-focus clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control border-right-0" value="End hr" name="endTime"
                                        id="endTime">
                                    <div class="input-group-prepend">
                                        <label for="endTime" class="input-group-text bg-white border-left-0">
                                            <i class="fas fa-clock icon"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <a onclick="filterDashboardMachine()"
                                    class="btn btn-outline-primary btn-block">Filter</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <!-- Dashboard Section-->
            <div class="row mt-4 mb-4">
                <!-- Main Pareto Chart-->
                <div class="col-9">

                    <div class="card shadow-sm p-2">
                        <h4 class="px-2 card-title blue-dash">Machine Name</h4>
                        <h6 class="px-2 card-subtitle text-muted mb-3" id="resume_machine">Resume of general data</h6>
                        <p class="ml-3"><small>Hours</small></p>
                        <canvas id="myChart" width="400" height="150"></canvas>
                    </div>
                </div>

                <!-- Lost Time Indicator-->
                <div class="col-3">
                    <div class="row">
                        <div class="px-2 mb-2 col-12">
                            <div class="card shadow-sm px-4 pt-3">
                                <div class=" card-body p-0">
                                    <h5 class="mb-5">
                                        Lost Time
                                        <span class="float-right aling-middle big-icon" alt=""><i
                                                class="fas fa-stopwatch"></i></span>

                                    </h5>
                                    <p class="display-block mt-4">
                                        <h4 class="blue-dash font-weight-bold">1:30 Hrs</h4>
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <!-- Frequency graphics-->
            <div class="col-12 mt-4 mb-4 px-0">
                <div class="row mb-4">
                    <div class="col-12">
                        <button
                            class="btn btn-block btn-outline-primary border-left-0 border-right-0 border-top-0 rounded-0"
                            data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                            aria-controls="multiCollapseExample1">Toggle Frequency Chart</button>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <h4 class="blue-dash">Frequency </h4>
                            
                            <div class="card shadow-sm card-body px-0">
                                <p class="ml-3"><small>Times</small></p>
                                <canvas id="myChart3" height="80"></canvas>
                                <canvas id="myChart2" style="display: none;" height="80"></canvas> <!-- This is hide for avoid errors. -->
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </main>

    <!-- SCRIPTS -->

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../js/bootstrap-clockpicker.min.js"></script>

    <script src="../js/main.js"></script>
</body>

</html>