<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirschmann Automotive</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap-clockpicker.min.css">
    <!-- CDNs-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/06b2a1d7c4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body class="bg-light">
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg  bg-light shadow-sm bg-white sticky-top">
        <a id="imageBrand" class="navbar-brand" href="../index.html" alt="Hirschmann Automotive Logo">
            <img src="../img/logo.svg" width="200" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link blue-dash" href="failureCatalog.html">Failure Catalog</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link blue-dash" href="configuration.html" tabindex="-1"
                        aria-disabled="true">Configuration</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main -->
    <main>
        <div class="container">
            <div class="row mb-4 mt-4">
                <div class="col-4">
                    <h2 class="blue-dash">Machines configuration</h2>
                </div>
            </div>

            <div class="row mt-4">
                <!-- Cards of Machines-->
                <div class="col-6">
                    <div class="row">
                        <div class="px-2 mb-2 col-6">
                            <div class="card shadow-sm">
                                <div class="card-header mb-0 py-0 bg-white border-0 pr-2">
                                    <button type="button" id="removeMachine" class="close mt-2 removeMachine" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class=" card-body py-0 px-4">
                                    <h5 class="mb-5">
                                        H392
                                        <img src="../img/machine.svg" class="float-right aling-middle" width="50%"
                                            alt="">
                                    </h5>
                                    <p class="display-block mt-4">
                                        <a href="individualDashboard.html" class="">View more</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="px-2 mb-2 col-6">
                            <div class="card shadow-sm">
                                <div class="card-header mb-0 py-0 bg-white border-0 pr-2">
                                    <button type="button" class="close mt-2 removeMachine" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class=" card-body py-0 px-4">
                                    <h5 class="mb-5">
                                        H392
                                        <img src="../img/machine.svg" class="float-right aling-middle" width="50%"
                                            alt="">
                                    </h5>
                                    <p class="display-block mt-4">
                                        <a href="individualDashboard.html" class="">View more</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="px-2 mb-2 col-6">
                            <div class="card shadow-sm">
                                <div class="card-header mb-0 py-0 bg-white border-0 pr-2">
                                    <button type="button" class="close mt-2 removeMachine" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class=" card-body py-0 px-4">
                                    <h5 class="mb-5">
                                        H392
                                        <img src="../img/machine.svg" class="float-right aling-middle" width="50%"
                                            alt="">
                                    </h5>
                                    <p class="display-block mt-4">
                                        <a href="individualDashboard.html" class="">View more</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="px-2 mb-2 col-6">
                            <div class="card shadow-sm">
                                <div class="card-header mb-0 py-0 bg-white border-0 pr-2">
                                    <button type="button" class="close mt-2 removeMachine" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class=" card-body py-0 px-4">
                                    <h5 class="mb-5">
                                        H392
                                        <img src="../img/machine.svg" class="float-right aling-middle" width="50%"
                                            alt="">
                                    </h5>
                                    <p class="display-block mt-4">
                                        <a href="individualDashboard.html" class="">View more</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="px-2 mb-2 col-6">
                            <div class="card shadow-sm">
                                <div class="card-header mb-0 py-0 bg-white border-0 pr-2">
                                    <button type="button" class="close mt-2 removeMachine" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class=" card-body py-0 px-4">
                                    <h5 class="mb-5">
                                        H392
                                        <img src="../img/machine.svg" class="float-right aling-middle" width="50%"
                                            alt="">
                                    </h5>
                                    <p class="display-block mt-4">
                                        <a href="individualDashboard.html" class="">View more</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="px-2 mb-2 col-6">
                            <div class="card shadow-sm">
                                <div class="card-header mb-0 py-0 bg-white border-0 pr-2">
                                    <button type="button" class="close mt-2 removeMachine" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class=" card-body py-0 px-4">
                                    <h5 class="mb-5">
                                        H392
                                        <img src="../img/machine.svg" class="float-right aling-middle" width="50%"
                                            alt="">
                                    </h5>
                                    <p class="display-block mt-4">
                                        <a href="individualDashboard.html" class="">View more</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="px-2 mb-2 col-6">
                            <div class="card shadow-sm">
                                <div class="card-header mb-0 py-0 bg-white border-0 pr-2">
                                    <button type="button" class="close mt-2 removeMachine" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class=" card-body py-0 px-4">
                                    <h5 class="mb-5">
                                        H392
                                        <img src="../img/machine.svg" class="float-right aling-middle" width="50%"
                                            alt="">
                                    </h5>
                                    <p class="display-block mt-4">
                                        <a href="individualDashboard.html" class="">View more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add New Machine Form-->
                <div class="col-6">
                    <div class="card shadow-sm mb-5 pt-4 pl-4 pr-4" style="height: 600px;">
                        <h4 class="blue-dash font-weight-bold mt-3">Add New Machine</h4>
                        <img src="../img/add_new.svg" class="mt-5" height="30%" alt="">
                        <div class="card-body">


                            <form>
                                <div class="form-group">
                                    <label for="nameMachine">Name</label>
                                    <input type="text" class="form-control" id="nameMachine"
                                        aria-describedby="emailHelp" placeholder="Type the machine's name"
                                        name="nameMachine">
                                </div>
                                <div class="form-group">
                                    <label for="tableName">Table</label>
                                    <select class="form-control" name="tableName" id="tableName">
                                        <option value="" disabled>Select the correspondig table</option>
                                        <option value="H392_log">H392_log</option>
                                        <option value="H393_log">H393_log</option>
                                        <option value="H394_log">H394_log</option>
                                        <option value="H412_log">H412_log</option>
                                        <option value="H442_log">H442_log</option>
                                        <option value="H452_log">H452_log</option>
                                        <option value="H454_log">H454_log</option>
                                    </select>

                                </div>

                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </main>

    <!-- SCRIPTS -->

    <!-- Remove Machine Modal-->
    <script>
        document.getElementById("removeMachine").addEventListener("click", function () {
            Swal.fire({
                text: "Are you sure to remove this machine?",
                icon: "error",
                showCancelButton: true,
                confirmButtonColor: "#F27474",
                confirmButtonText: "Remove"
            }).then((result) => {
                //if (result.value) {
                    //document.location = "dashboard.php?cultivo='.$row['id_cultivo'].'";
                //}
            })
        });
    </script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../js/bootstrap-clockpicker.min.js"></script>

    <script src="../js/main.js"></script>
</body>

</html>